<tr class='task' data-task-id="<%= task.id %>" data-controller='task'>
  <td data-action="click->task#edit">
    <span data-target="task.text"><%= task.content %></span>
    <%= form_with(model: task, data: {target: 'task.form',
                                      action: 'ajax:send->task#loading
                                               ajax:complete->task#complete'}, class: 'hide') do |form| %>
      <div class="field">
        <div><%= form.text_field :content, data: {target: 'task.input', action: 'blur->task#show'} %></div>
      </div>
    <% end %>
  </td>
  <td>
    <%= link_to_if task.completed?, '✔', [task, { task: { status: 'active' }}], method: 'patch', remote: true do %>
      <%= link_to '🗆', [task, { task: { status: 'completed' }}], method: 'patch', remote: true %>
    <% end %>
  </td>
  <td><%= link_to 'X', task, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
</tr>
