<p id="notice"><%= notice %></p>

<h1><%= @user[:info][:nickname] %>'s Tasks</h1>

<ul>
  <li><%= link_to_unless request.path == tasks_path, 'all', tasks_path %></li>
  <li><%= link_to_unless request.path == active_tasks_path, 'active', active_tasks_path %></li>
  <li><%= link_to_unless request.path == completed_tasks_path, 'completed', completed_tasks_path %></li>
</ul>

<%= render 'form', task: Task.new %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='tasks'>
    <turbo-frame id="tasks">
      <%= render partial: 'tasks/task', collection: @tasks %>
    </turbo-frame>
  </tbody>
</table>

<% unless @tasks.last_page? %>
  <div data-controller="infinity-loader" data-infinity-loader-url='<%= request.path %>'>
    <div data-action='scroll@window->infinity-loader#load'></div>
  </div>
<% end %>
