<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<ul>
  <li><%= link_to_unless request.path == tasks_path, 'all', tasks_path %></li>
  <li><%= link_to_unless request.path == active_tasks_path, 'active', active_tasks_path %></li>
  <li><%= link_to_unless request.path == completed_tasks_path, 'completed', completed_tasks_path %></li>
</ul>

<%= render 'tasks/form', task: Task.new %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='tasks'>
    <%= render partial: 'tasks/task', collection: @tasks %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
