<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= render 'tasks/nav' %>

<%= render 'tasks/form', task: Task.new %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='tasks'>
    <%= render partial: 'tasks/task', collection: @tasks %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
